# Set to true to run local fork integration tests that require pre-started Anvil forks.
FORK_TEST=false

# Local fork RPCs used by test/integration/AdiAdapterPigeonLocalFork.t.sol.
ETH_FORK_RPC=http://127.0.0.1:8545
ARB_FORK_RPC=http://127.0.0.1:8546
